.game {
    position: relative;
    top: 250px;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 0;
    transform: translate(-50%, -50%);
    outline: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 80px;
}

.game .arena {
    position: relative;
    width: 100%;
    height: 500px;
    background: green url(../images/bg.jpg) no-repeat center center;
    background-size: cover;
}

.game .panel {
    width: 100%;
    height: 34px;
    font-size: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
}

.game .arena::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 0, 0.4);
}

.game .arena .cat {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5) url(../images/cat.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 2px rgb(255, 0, 0)
}